@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
  background-image: url("/background.png");
}

section {
  background-image: url("/background.png");
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}
